@mixin title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $txt-color;
    text-transform: uppercase;
}

@mixin flexspace {
    display: flex;
    justify-content: space-between;
}