@import 'mixins';
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px
}

header {
    .container {
        position: relative;

        .burger-menu {
            display: none;
            position: absolute;
            right: 0;
        }

        .burger-menu-close {
            top: 23px;
            position: absolute;
            z-index: -1;
        }

        .visible{
            display: none;
        }

        .active {
            z-index: 0;
        }

        .visibly {
            display: flex;
            flex-direction: column;
        }

        ul {
            @include flexspace;
            padding: 45px 179px 50px;

            a {
                color: $txt-color;
                font-size: 11px;
                line-height: 22px;
                text-transform: uppercase;

                &:first-child {
                    color: #57A4A4;
                }
            }
        }
    }

}

main {
    .section-top {
        .container {
            .img-top {
                max-width: 100%
            }

            h2 {
                @include title;
                padding-top: 70px;
            }

            .recent {
                @include flexspace;
                margin-top: 24px;
                flex-wrap: wrap;
                gap: 32px;
                padding-bottom: 70px;

                .recent-box {
                    display: flex;
                    max-width: 555px;

                    img {
                        max-width: 160px;
                        max-height: 140px;
                    }

                    .recent-box-txt {
                        flex-direction: column;
                        padding-left: 20px;

                        p {
                            color: $txt-color;
                            font-weight: 700;
                            line-height: 30px;

                            &:nth-child(2) {
                                font-size: 12px;
                                line-height: 20px;
                                color: #7C7C7C;
                            }

                            &:nth-child(3) {
                                font-size: 14px;
                                line-height: 26px;
                                color: #5C5C5C;
                            }
                        }
                    }
                }
            }
        }
    }

    .section-instagram {
        background: rgb(229, 214, 214);

        .container {
            & div:first-child {
                @include flexspace;
                padding: 47px 0 24px 0;

                h2 {
                    @include title
                }

                p {
                    @include title;
                    font-size: 13px;
                }
            }

            & div:nth-child(2) {
                display: flex;
                gap: 10px;
                padding-bottom: 50px;


                img {
                    min-width: 24%;
                }
            }
        }
    }
}

footer {
    background: #000000;

    .container {
        h2 {
            padding: 66px 0 22px 0;
            @include title;
            color: #FEFEFE;
            text-align: center;
        }

        p {
            text-align: center;
            margin: 0 auto;
            max-width: 684px;
            line-height: 28px;
            color: #B9B9B9;

            &:last-child {
                padding-bottom: 70px;
            }
        }

        & div:first-of-type {
            padding: 35px 0;
            display: flex;
            justify-content: center;
        }
    }
}

@media(min-width:940px) {
    header .container .visibly {
        flex-direction: row;
    }
}

@media(max-width:940px) {
    .container {
        max-width: 768px;
    }

    header {
        .container {
            .visibly {
                position: absolute;
                right: 0;
                padding: 0;
                margin-top: 60px;
                background: #F5F5F5;
            }

            ul a {
                padding: 5px 100px 5px 12px;

                &:hover {
                    background: #ded9d9;
                }
            }

            .burger-menu {
                display: block;
                padding-top: 23px;
            }
        }
    }

    .section-instagram img:last-child,
    header .container ul {
        display: none;
    }

    main .section-top .container .img-top {
        padding-top: 106px;
    }
}

@media(max-width:767px) {
    .container {
        max-width: 320px;
    }

    .section-instagram img:nth-child(3),
    .section-instagram img:nth-child(2),
    .section-instagram p,
    .recent-box-txt p:nth-child(3),
    .recent-box:last-child {
        display: none !important;
    }

    main {
        .section-instagram {
            background: rgba(0, 0, 0, 0.0001);
        }

        .recent-box {
            flex-direction: column;
        }

        .section-top .container .img-top {
            padding-top: 83px;
        }

        .section-top .container .recent .recent-box .recent-box-txt {
            padding-top: 10px;
            padding-left: 0;
        }
    }
}